* {
    background-color: rgb(48, 51, 59);
    color: #ffff;
}
::selection {
    background-color: palevioletred;
}
.a01 {
    text-decoration: none;
    background-color: rgba(82, 66, 46, 0.7);
    padding: 3px;
}
.tablehead, .tablerow {
    color: aqua;
    font-size: 2rem;
    text-align: center;
    text-decoration: solid;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
table, th, td {
    border: 1rem solid rgb(80, 32, 90);
    border-collapse: collapse;
}
strong {
    background-color: rgb(28, 163, 28);
    padding-left: 2rem;
    padding-right: 2rem;
}